a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main-nav{
    width: 100%;
    display: grid;
    /* color: #fff; */
    /* margin-top: 10px; */
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.logo{
    margin-left: -3.5em;
    display: flex;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}

.logo h2{
    font-size: 2rem;
    background: -webkit-linear-gradient(right,darkblue, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-link{
    grid-column: 4/7;
    margin-top: 0.8rem;
    margin-left: -8em;
    margin-right: 4rem;
}

.menu-link ul{
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-link ul li a{
    /* color: #FFD700; */
    background: -webkit-linear-gradient(top,darkblue, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    transition: 0.5s;
}

.menu-link ul li a::after{
    content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 3px;
    background: #DAA520;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

.menu-link ul li a:hover:after{
    transform: scale(1);
}

.signin-btn{
    margin-top: 7px;
    margin-left: 7em;
}

.glow-on-hover {
    font-size: 1em;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    color: #ff7300;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(40px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.hamburger-menu {
    display: none;
  }

  .ham-click{
    top: -1.4em;
    right: 1.5em;
    height: 2em;
  }

  @media (max-width: 998px) {
    .main-nav {
      /* margin-top: -2rem; */
      /* height: 100vh; */
      /* background-color: red; */
      grid-template-columns: 5rem 2fr 3fr 2rem 2rem;
    }
  
    .menu-link {
      display: none;
    }
  
    .logo{
      margin-top: 0.8rem;
    }
  
    .mobile-menu-link {
      grid-column: 2/4;
      position: relative;
      z-index: 99;
      background-color: white;
      margin: auto;
      justify-content: center;
      height: auto;
      display: grid;
      border-radius: 50px;
      width: 100%;
      grid-column: 2/5;
      align-items: center;
      /* padding-left: 5rem; */
      transition: all 2s linear;
      transform-origin: top;
    }
  
    .mobile-menu-link ul {
      height: 50vh;
      display: flex;
      /* justify-content: space-around; */
      flex-direction: column;
      align-items: center;
      background-color: white;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }
    
    .signin-btn{
        display: grid;
        justify-content: end;
        position: sticky;
    }

   .hamburger-menu {
      display: grid;
      justify-content: end;
      font-size: 2.5rem;
      position: relative;
    }
  }
  