.container  {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 40%;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 0 35px 8px purple;
  }
  
  .content {
    border-radius: 20px;
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
  }
  
  .content h2 {
    font-weight: 900;
  }
  
  .content h3 {
    font-weight: 300;
    margin: 5px;
    text-align: end;
  }

  .content button{
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 1.5em;
    width: 8em;
    color: purple;
    border-radius: 10px;
    border-color: purple;
    margin-top: 15px;
    margin-bottom: -15px;
    cursor: pointer;
  }

  .content button:hover{
    background-color: rgb(167, 42, 167);
    color: #fff;
  }